.container {
    display: flex;
    flex-direction: column;
    border-style: groove;
    max-width: 300px;
    padding: 20px;
    margin: 0 auto;
}

.row-1, .row-2, .row-3 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 10px;
}

.row-0 {
    display: flex;
    justify-content: space-between;
}
.display {
    border-style: solid;
    width: 200px;
    margin-left: 20px;
}

button {
    font-weight: bold;
    background-color: azure;
    border-radius: 15px;
    width: 50px;
}
#clear {
    background-color: blanchedalmond;
    margin-right: 20px;
}